* {
  box-sizing: border-box;
}

.App {
  width: 100%;
  margin: 0;
}

.dog-page-wrapper {
  text-align: center;
}

.dog-img-wrapper {
  display: inline-block;
  text-align: center;
  width: 300px;
  height: auto;
  margin: 1%;
  top: 0;
}

.dog-img {
  display: block;
  width: 100%; 
  height: auto;
  height: 350px;
}

.drop-down-breeds-wrapper {
  text-align: center;
  font-weight: 700;
  font-size: large;
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
}